RewriteEngine On
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# Fallback all other routes to index.html
RewriteRule ^ /react/e-commerce/index.html [L]

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /react/e-commerce/
	RewriteCond %{REQUEST_FILENAME} -s [OR]
	#Rewrite Conditions 
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d
	RewriteRule ^.*$ – [NC,L]
	RewriteRule ^(.*) /react/e-commerce/index.html [NC,L]
</IfModule>